@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    
        @* here is w3 template info *@
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-light-blue.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    </head>
    <body style= "background-color:white">
        @* And here's where we render the `Html` object containin
         * the page content. *@
        <header class="w3-container w3-theme w3-padding" id="myHeader">
            <div class="w3-center">
                <h1 class="w3-xxxlarge w3-animate-bottom font">Donut Finder</h1>
                <h2 class="font">The dough awaits... LOGIN!</h2>
            </div>
        </header>
        <div class="w3-row-padding">
            <form class="w3-container w3-center">
                <div class="w3-group">
                    <label class="w3-label w3-validate">Username</label>
                    <input required="" type="text">
                    <a href="main">to shop page</a>
                    <a href="friends">to friends page</a>
                </div>
                <div class="w3-group">
                    <label class="w3-label w3-validate">Password</label>
                    <input required="" type="text">
                </div>
            </form>
        </div>
        <div class="w3-center">
        <img src="http://media1.fdncms.com/sfweekly/imager/dynamo-teams-up-with-act-to-make-simps/u/blog/3383339/homer_donut.png?cb=1471312065" alt="Homer Simpson">
        </div>
    </body>
</html>

