@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(shop: Shop)(userid: String)(city: Cities)(socialMedia: List[Socialmedia])(features: List[Feature])(image: Image)(rating:List[AverageRatings])(reviews:List[Reviewsofshop] )

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@shop.name</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    
        @* here is w3 template info *@
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-light-blue.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @* w3 template *@
      
    <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader">
            <div class="w3-center">
                <div class="w3-quarter w3-container" >
                    <img src=@image.url alt="image" style="max-width:100%" >
                </div>
                <div class="w3-half w3-container">
                    <a href="/">Home</a>
<!--<button class="w3-btn w3-large w3-blue w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:200;	vertical-align: top;">Favorite</button>-->
                    <h1 class="w3-xxlarge w3-animate-bottom font">@shop.name</h1> 
                    <div class="w3-half w3-container">
                        
                            <h5 class="font">@shop.street , @city.city , @city.state</h5>
                       
                    </div>
                    <div class="w3-half w3-container">
                    <h5 class="font">
                        @for(media <- socialMedia){
				    		@media.platform<br>
						}
                        </h5>
                    </div>
                </div>
                <div class="w3-quarter w3-container" >
                    <img src=@image.url alt="image" style="max-width:100%" >
                </div>
            </div>
        </header>
        <div class="w3-row-padding w3-margin-top">
            <div class="w3-half w3-container w3-center">
                <form name="findFriend" action="searchFriends" onsubmit="return validateForm()">
                    <label>Search Friend</label>
                    <input type="text" name="friend" required>
                     <input type="radio" name="user" value="@userid" style="display:none" checked/>
                    <input type="submit" value="Search" >
                </form>
            </div>
        </div>
        <br/>
        <div class="w3-row-padding">
            <div class="w3-half">
                <div class="w3-card white">
                    <div class="w3-container w3-theme">
                        <h3>What's with @shop.name ?</h3>
                    </div>
                    <div class="w3-row-padding">
                        <h3><u>Average Ratings of @shop.name</u></h3>
                        <div>
                            @for(rating <- rating){
                                @rating.ratingtype ----- @rating.averageVal /5
                                <br>
                            }
                        </div>
                    </div>
                    <div class="w3-container w3-theme">
                        <h3>What's Goin' On At @shop.name ?</h3>
                    </div>
                    <div class="w3-row-padding">
                        @for(feature <- features){
                            @feature.feature
                            <br>  
                        }
                    </div>
                    <div class="w3-container w3-theme">
                        <h3>@shop.name Buzz</h3>
                    </div>
                    <div class="w3-row-padding">
                            @for(review <- reviews){
                                @review.userid --- @review.overallrating /5<br>
                                 ----- @review.reviewtext 
                                <br><br>
                            }
                    </div>
                   
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-card white">
                    <div class="w3-container w3-theme">
                        <h3>Review @shop.name</h3>
                    </div>
                    <form name="testform"  action="sayHello" onsubmit="return validateForm()" >
                        <fieldset id="group0" style="display:none">
                            <input id="topping variety1" type="radio" value="@shop.id"name="Shop" style="display:none" checked>
                            <label for="topping variety1" style="display:none">@shop.name</label>
                            <input id="topping" type="radio" value="@userid"name="uname" style="display:none" checked>
                            <label for="topping"></label>
                        </fieldset>
                        <fieldset id="group1">
                            <label>topping variety</label>
                            <input id="topping variety1" type="radio" value="1"name="topping variety">
                            <label for="topping variety1">1</label>
                            <input id="topping variety2" type="radio" value="2"name="topping variety">
                            <label for="topping variety2">2</label>
                            <input id="topping variety3" type="radio" value="3"name="topping variety">
                            <label for="topping variety3">3</label>
                            <input id="topping variety4" type="radio" value="4"name="topping variety">
                            <label for="topping variety4">4</label>
                            <input id="topping variety5" type="radio" value="5"name="topping variety">
                            <label for="topping variety5">5</label>
                        </fieldset>
                    
                        <fieldset id="group2">
                            <label>cleanliness</label>
                            <input id="clean1" type="radio" value="1"name="cleanliness">
                            <label for="clean1">1</label>
                            <input id="clean2" type="radio" value="2"name="cleanliness">
                            <label for="clean2">2</label>
                            <input id="clean3" type="radio" value="3"name="cleanliness">
                            <label for="clean3">3</label>
                            <input id="clean4" type="radio" value="4"name="cleanliness">
                            <label for="clean4">4</label>
                            <input id="clean5" type="radio" value="5"name="cleanliness">
                            <label for="clean5">5</label>
                        </fieldset>
                        <fieldset id="group3">
                            <label>base variety</label>
                            <input id="base variety1" type="radio" value="1"name="base variety">
                            <label for="base variety1">1</label>
                            <input id="base variety2" type="radio" value="2"name="base variety">
                            <label for="base variety2">2</label>
                            <input id="base variety3" type="radio" value="3"name="base variety">
                            <label for="base variety3">3</label>
                            <input id="base variety4" type="radio" value="4"name="base variety">
                            <label for="base variety4">4</label>
                            <input id="base variety5" type="radio" value="5"name="base variety">
                            <label for="base variety5">5</label>
                        </fieldset>
                        <fieldset id="group4">
                            <label>filling variety</label>
                            <input id="filling variety1" type="radio" value="1"name="filling variety">
                            <label for="filling variety1">1</label>
                            <input id="filling variety2" type="radio" value="2"name="filling variety">
                            <label for="filling variety2">2</label>
                            <input id="filling variety3" type="radio" value="3"name="filling variety">
                            <label for="filling variety3">3</label>
                            <input id="filling variety4" type="radio" value="4"name="filling variety">
                            <label for="filling variety4">4</label>
                            <input id="filling variety5" type="radio" value="5"name="filling variety">
                            <label for="filling variety5">5</label>
                        </fieldset>
                        <fieldset id="group5">
                            <label>filling quantity</label>
                            <input id="filling quantity1" type="radio" value="1"name="filling quantity">
                            <label for="filling quantity1">1</label>
                            <input id="filling quantity2" type="radio" value="2"name="filling quantity">
                            <label for="filling quantity2">2</label>
                            <input id="filling quantity3" type="radio" value="3"name="filling quantity">
                            <label for="filling quantity3">3</label>
                            <input id="filling quantity4" type="radio" value="4"name="filling quantity">
                            <label for="filling quantity4">4</label>
                            <input id="filling quantity5" type="radio" value="5"name="filling quantity">
                            <label for="filling quantity5">5</label>
                        </fieldset>
                        <fieldset id="group6">
                            <label>filling quality</label>
                            <input id="filling quality1" type="radio" value="1"name="filling quality">
                            <label for="filling quality1">1</label>
                            <input id="filling quality2" type="radio" value="2"name="filling quality">
                            <label for="filling quality2">2</label>
                            <input id="filling quality3" type="radio" value="3"name="filling quality">
                            <label for="filling quality3">3</label>
                            <input id="filling quality4" type="radio" value="4"name="filling quality">
                            <label for="filling quality4">4</label>
                            <input id="filling quality5" type="radio" value="5"name="filling quality">
                            <label for="filling quality5">5</label>
                        </fieldset>
                        <fieldset id="group7">
                            <label>freshness</label>
                            <input id="freshness1" type="radio" value="1"name="freshness">
                            <label for="freshness1">1</label>
                            <input id="freshness2" type="radio" value="2"name="freshness">
                            <label for="freshness2">2</label>
                            <input id="freshness3" type="radio" value="3"name="freshness">
                            <label for="freshness3">3</label>
                            <input id="freshness4" type="radio" value="4"name="freshness">
                            <label for="freshness4">4</label>
                            <input id="freshness5" type="radio" value="5"name="freshness">
                            <label for="freshness5">5</label>
                        </fieldset>
                        <fieldset id="group8">
                            <label>bathrooms</label>
                            <input id="bathrooms1" type="radio" value="1"name="bathrooms">
                            <label for="bathrooms1">1</label>
                            <input id="bathrooms2" type="radio" value="2"name="bathrooms">
                            <label for="bathrooms2">2</label>
                            <input id="bathrooms3" type="radio" value="3"name="bathrooms">
                            <label for="bathrooms3">3</label>
                            <input id="bathrooms4" type="radio" value="4"name="bathrooms">
                            <label for="bathrooms4">4</label>
                            <input id="bathrooms5" type="radio" value="5"name="bathrooms">
                            <label for="bathrooms5">5</label>
                        </fieldset>
                        <fieldset id="group9">
                            <label>coffee</label>
                            <input id="coffee1" type="radio" value="1"name="coffee">
                            <label for="coffee1">1</label>
                            <input id="coffee2" type="radio" value="2"name="coffee">
                            <label for="coffee2">2</label>
                            <input id="coffee3" type="radio" value="3"name="coffee">
                            <label for="coffee3">3</label>
                            <input id="coffee4" type="radio" value="4"name="coffee">
                            <label for="coffee4">4</label>
                            <input id="coffee5" type="radio" value="5"name="coffee">
                            <label for="coffee5">5</label>
                        </fieldset>
                        <fieldset id="group10">
                            <label>parking</label>
                            <input id="parking1" type="radio" value="1"name="parking">
                            <label for="parking1">1</label>
                            <input id="parking2" type="radio" value="2"name="parking">
                            <label for="parking2">2</label>
                            <input id="parking3" type="radio" value="3"name="parking">
                            <label for="parking3">3</label>
                            <input id="parking4" type="radio" value="4"name="parking">
                            <label for="parking4">4</label>
                            <input id="parking5" type="radio" value="5"name="parking">
                            <label for="parking5">5</label>
                        </fieldset>
                        <fieldset id="group11">
                            <label>average wait time</label>
                            <input id="average wait time1" type="radio" value="1"name="average wait time">
                            <label for="average wait time1">1</label>
                            <input id="average wait time2" type="radio" value="2"name="average wait time">
                            <label for="average wait time2">2</label>
                            <input id="average wait time3" type="radio" value="3"name="average wait time">
                            <label for="average wait time3">3</label>
                            <input id="average wait time4" type="radio" value="4"name="average wait time">
                            <label for="average wait time4">4</label>
                            <input id="average wait time5" type="radio" value="5"name="average wait time">
                            <label for="average wait time5">5</label>
                        </fieldset>
                        <label>Overall Rating</label>
                        <input type="number" name="overall" step="0.01">
                        <br/>
                        <label>Tell us what you think about @shop.name</label>
                        
                        <textarea name="text1" rows="4" cols="50"></textarea>
                        <br/>
                        <input type="submit" value="Submit" >
                    </form>

                </div>
            </div>
        </div>

    </body>
</html>

